@model PideYa.Models.insumo

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>insumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.insumo_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
