@model PideYa.Models.plato

@{
    ViewBag.Title = "Plato Crear";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>plato</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.restaurante_id_fk, "restaurante_id_fk", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("restaurante_id_fk", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.restaurante_id_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoria_plato_id_fk, "categoria_plato_id_fk", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("categoria_plato_id_fk", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.categoria_plato_id_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.foto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


@*/////////////////*@

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            AGREGAR EMPRESA
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Create", "Platos", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.nombre, "Nombre:")
                    </label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.restaurante_id_fk, "Restaurante:")
                    </label>
                    <div class="col-lg-3">
                        @Html.DropDownList("restaurante_id_fk", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.restaurante_id_fk, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.precio, "Precio:")
                    </label>
                    <div class="col-lg-3">
                        @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01"} })
                        @*@Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.categoria_plato_id_fk, "Categoria:")
                    </label>
                    <div class="col-lg-3">
                        @Html.DropDownList("categoria_plato_id_fk", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.categoria_plato_id_fk, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.descripcion, "Descripcion:")
                    </label>
                    <div class="col-lg-3">
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.foto, "Foto:")
                    </label>
                    <div class="col-lg-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fotoFile" name="fotoFile">
                            <label class="custom-file-label" for="customFile">
                                Escoger Archivo
                            </label>
                        </div>
                    </div>
                    <label class="col-lg-2 col-form-label">
                        @Html.LabelFor(m => m.estado, "Estado:")
                    </label>
                    <div class="col-lg-3">
                        @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary">
                                    Agregar
                                </button>
                                <a href="/Manager/Platos/Index" class="btn btn-secondary">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>
